.dashboard {
  height: 94vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chart {
  align-items: flex-start;
  flex-grow: 2;
  outline: darkgrey solid 1px;
}

.components {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.component {
  display: flex;
  flex-direction: column;
  flex:0 0 50%;
  height: 35rem;

}

.content{
  overflow-y:auto;
}

.card {
  outline: darkgrey solid 1px;
  display: grid;
  grid-template-rows:repeat(2, auto);
  grid-auto-flow: column;
}

.card h4, p{
  margin: 2px;
  padding: 2px;
}

.green {
  color: #00c853;
  transition: color 0.3s;
}

.red {
  color: #d50000;
  transition: color 0.3s;
}

.link{
  color: white;

}

.link:hover{
  color: aqua;
  text-decoration: underline;
}



