.form {
    box-sizing: border-box;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: darkslategray;
    width: 100%;
    gap: 10px;

}
.form input {
    flex: 1;
    border-radius: 4px;
    min-height: 20px;
    margin-left: 4px;
    margin-right: 4px;

}
.form label {
    display: flex;
    flex-direction: row;
    flex: 0 0 20px;
    margin-right: 4px;
}

.form p{
    flex: 0 0 20px;
    margin: 5px;
}
input:hover {
    border-color: #646cff;
}
input:focus,
input:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.buttons{

    display: flex;
    flex-direction: row;
    justify-content: space-around;


}